* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeueBook.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.mobile-menu {
    display: none;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    color: #fff;
    height: 94px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    border-bottom: .0625rem solid rgba(235, 235, 240, 0.2);
    transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
    background-color: #fff;
    color: #292d33;
    height: 72px;
}

.logo-svg {
    width: 9rem;

}

.navbar-light .header-logo-path {
    fill: #292d33;
}

.header {
    padding-top: 94px;
    min-height: 100vh;
}

.header-image {
    background-image: url("../img/header-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    background-position: center bottom -3.4375rem;
    position: relative;
}

.header-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(41, 45, 51, 0.6);
    width: 100%;
    height: 100%;
    z-index: 0;
}


.header-logo {
    padding: 0 50px;
    display: flex;
    align-items: center;
    border-right: .0625rem solid rgba(235, 235, 240, 0.2);
    height: 100%;
}

.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0;
    padding-left: 0 50px;
    margin: 0;

}

.header-nav-item:not(:last-child) {
    margin-right: 4%;
}

.header-nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
}

.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin-right: 50px;
}

.header-phone-link {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    background: #3a71d1;
    padding: 25px 60px;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.navbar-button {
    flex-shrink: 0;
    height: 100%;
    padding: 1.5625rem 3.125rem;
}

.navbar-button .button-icon {
    display: none;
}

.header-button {
    height: 100%;
}

.seporator {
    background: #5c8ee6;
    width: 150px;
    height: .125rem;
}

.header-content {
    padding-top: 150px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.header-title {
    max-width: 1080px;
    font-family: "Bebas Neue";
    font-size: 80px;
    line-height: 120%;
    margin: 30px 0;
    letter-spacing: -0.0563rem;
    word-spacing: -0.175rem;

}

.header-text {
    max-width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 50px;
    letter-spacing: 0.25px;
    word-spacing: -1.3px;
}

.header-features {
    display: flex;
    min-height: 168px;
    padding: 0;
    margin-top: 100px;
    list-style: none;
    color: #fff;
    position: relative;
}

.header-features-item {

    padding: 30px 50px;
    width: 288px;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
}

.header-button {
    padding: 26px 60px;
}

.header-features-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;

    margin-top: 1.125rem;
    margin-bottom: 0;
}


.header-features-item:not(:last-child) {
    border-right: none;
}

.section {
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;

}

.section-title {
    margin-top: 22px;
    font-family: "Bebas Neue";
    font-size: 3.75rem;
    line-height: 120%;
    color: #292d33;
    letter-spacing: -0.8px;
    word-spacing: -3.3px;
}

.steps {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1.875rem;
}

.steps-item {
    max-width: 20.625rem;
}

.steps-num {
    font-family: Bebas Neue;
    font-size: 3rem;
    line-height: 120%;
    color: #5c8ee6;
    display: flex;
    align-items: center;
}

.steps-num::after {
    content: "";
    height: .0625rem;
    background: #ebebf0;
    width: 100%;
    display: inline-block;
    margin-left: 1.875rem;
}

.steps-title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 160%;
    color: #292d33;
    margin-top: 2.25rem;
    margin-bottom: -0.5625rem;
    word-spacing: 40.2px;
}


.steps-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #828a99;
    margin-top: 1.25rem;
    margin-bottom: 10px;
    letter-spacing: 0.3px;
    word-spacing: -1.9px;

}

.steps-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    color: #5c8ee6;
    margin-top: 1.3125rem;
    margin-left: -1.375rem;
    letter-spacing: 0.045rem;
    word-spacing: -0.3387rem;
}

.steps-link::before {
    content: "";
    height: .0625rem;
    background: #5c8ee6;
    width: 2.5rem;
    margin-right: 2.5rem;
}


@media (max-width: 75rem) {
    html {
        font-size: .75rem;
    }

    .header-image {
        background-position: center;
    }
}

@media (max-width: 90.625rem) {
    html {
        font-size: .8125rem;
    }

    .header-image {
        background-position: center;
    }
}



@media (max-width: 106.25rem) {
    html {
        font-size: .875rem;
    }

    .header-image {
        background-position: center;
    }
}

@media (max-width: 120rem) {
    html {
        font-size: 1rem;
    }

    .header-image {
        background-position: center;
    }
}

@media (max-width: 1460px) {
    html {
        font-size: 13px;
    }

    .header-logo {
        padding: 2rem;
    }

    .logo-svg {
        max-width: 6rem;
    }

    .header-nav {
        padding-left: 2rem;
    }

    .header-nav-item:not(:last-child) {
        margin-right: 1rem;
    }

    .header-phone {
        margin-right: 2rem;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 70rem;
    }

    .header-phone {
        display: none;
    }

    .navbar {
        height: 5rem;
    }

    .navbar-button {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 990px) {
    .container {
        max-width: 60rem;
    }

    html {
        font-size: 12px;
    }

    .header-nav {
        display: none;

    }

    .header-logo {
        flex-grow: 1;
        justify-content: center;
    }

    .mobile-menu-toggle {
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.4rem;
        border-right: 1px solid rgba(235, 235, 240, 0.2);
    }

    .navbar-light .mobile-menu-line {
        background-color: #333;
    }

    .mobile-menu-line {
        height: 1px;
        background-color: #fff;
        width: 100%;

    }

    .mobile-menu-line:nth-child(2) {
        width: 80%;
    }

    .navbar-button .button-text {
        display: none;
    }

    .navbar-button .button-icon {
        display: block;
        fill: "#ffffff;

    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 2;
        background-color: #fff;
        padding-top: 5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .mobile-menu.is-open {
        display: block;
    }

    .mobile-menu-nav {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-nav-item {
        margin-bottom: 2rem;
    }

    .mobile-menu-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        color: #292d33;
    }

    .mobile-submenu {
        list-style-type: none;
        padding: 0;
        padding-left: 1rem;
        margin-top: 1rem;

    }

    .mobile-submenu-link {
        text-decoration: none;
        color: #828a99;
        font-size: 14px;
        line-height: 160%;
    }

    .mobile-phone {
        display: block;
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        color: #292d33;
        text-decoration: underline;
        border-top: 1px solid #EBEBF0;
        padding-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .mobile-info {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .mobile-info-address,
    .mobile-info-email {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #292d33;
    }
}